/** GENERAL ADJUSTMENTS  */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.all {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

/** HEADER */
.header {
  background-color: #30afd1;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}

h2 {
  padding: 0;
  margin: 0;
}

/** SECTION  */
.section {
  overflow: hidden;
  height: 500px;
  background-image: url(./images/people.jpg);
  background-size: cover;
}

.form-section {
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  float: right;
  margin: 20px;
  padding: 20px;
  color: black;
  text-align: left;
}

h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

input,
select {
  padding: 10px;
  margin-bottom: 10px;
  border-style: none;
  width: 180px;
}

select {
  width: 200px;
  background-image: url(./images/arrow.jpg);
  background-repeat: no-repeat;
  background-position: 95%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select:hover{
  cursor: pointer;
}

.submit {
  width: 200px;
  background-color: #30afd1;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.submit:hover{
  cursor: pointer;
  background-color: #43c6ebde;
}

/** FOOTER  */

.footer {
  overflow: hidden;
  height: 300px;
  margin-bottom: 100px;
  background-color: rgb(43, 42, 42);
}

.palestrante {
  height: 200px;
  float: left;
  margin-right: 30px;
}

.bio {
  width: 60%;
  margin: 50px auto 0;
}

@media screen and (max-width: 450px) {
  .all {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .section {
    height: 400px;
    margin: auto;
    text-align: center;
  }

  .form-section {
    margin: auto;
    width: 92%;
    overflow: hidden;
  }

  .footer {
    overflow: visible;
    height: auto;
    padding: 5px;
    margin-bottom: 0;
  }

  .palestrante {
    transform: translateX(+55px) translateY(-30px);
  }

  .bio {
    text-align: center;
  }

  input,
  select {
    font-size: 15px;
    padding: 15px;
    margin-bottom: 10px;
    border-style: none;
    width: 90%;
  }

  select{
    width: 98%;
  }
  
  .submit{
    width: 98%;
  }
}
